@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Rubik";
}

@layer base {
  :root {
    --font-family: "Rubik";
    --background: 240 100% 5%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
    --foreground-dark: 240 100% 5%;
    --c1: #191b33;
    --c2: #00021d;
    --c3: #4c4d60;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --font-family: "Rubik";
      --background: 240 100% 5%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
      --foreground-dark: 240 100% 5%;
      --c1: #191b33;
      --c2: #00021d;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.flex-2 {
  flex: 2;
}

.c1 {
  background-color: var(--c1);
}
.c2 {
  background-color: var(--c2);
}
.c3 {
  background-color: var(--c3);
}
.border-c3 {
  border-color: var(--c3);
}

.tag {
  margin-top: -8px;
  margin-right: -8px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

input:focus {
  outline: none;
}

.foreground-dark {
  color: var(--foreground-dark);
}

.animate-in {
  animation: animateIn 1s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-preview-left {
  animation: animatePreviewLeft 1s ease 0.15s both;
}

@keyframes animatePreviewLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-right {
  animation: animateRight 1s ease 0.15s both;
}

@keyframes animateRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-in-ltr {
  animation: animateInLeftToRight 1s ease 0.15s both;
}

@keyframes animateInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100%);
  }
}

.animate-in-rtl {
  animation: animateInRightToLeft 1s ease 0.15s both;
}

@keyframes animateInRightToLeft {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}

.animate-out-ltr {
  animation: animateOutLeftToRight 1s ease 0.15s both;
}

@keyframes animateOutLeftToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-out-rtl {
  animation: animateOutRightToLeft 1s ease 0.15s both;
}

@keyframes animateOutRightToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
